<h1><%= gettext("Listing projects") %></h1>

<table>
  <%= for project <- @projects do %>
  <tr>
    <td style="text-align: left"><%= render "project.html", project: project %></td>
    <td style="text-align: left"><%= button gettext("View"), to: Routes.project_path(@conn, :show, project.id), method: :get%></td>
  </tr>
  <% end %>
</table>