<h1><%= gettext("Showing project details") %></h1>
<div style="text-align: center">
<%= render "project.html", project: @project %> <%= gettext("under concentration") %>: <%= @project.concentration %>
</div>