<section class="phx-hero">
  <h1><%= gettext("Welcome to MatchED") %></h1>
  <p><%= gettext("Let's match some projects!") %></p>
  <div style="text-align: center">
    <%= button gettext("View judges"), to: "/judges", method: :get %>
    <%= button gettext("View projects"), to: "/projects", method: :get%>
  </div>
</section>