<!DOCTYPE html>
<html lang="gl">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Matched · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header>
      <!-- **** Begin Fork-Me-On-Gitlab-Ribbon-HTML. See MIT License at https://gitlab.com/seanwasere/fork-me-on-gitlab **** -->
      <a href="https://gitlab.com/lauramcastro/matched">
        <span style="position:fixed; top:40px; right:-45px; display:block; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); background-color:green; color:white; padding: 4px 30px 4px 30px; z-index:99"><%= gettext("Fork Me On GitLab") %></span>
      </a>
      <!-- **** End Fork-Me-On-Gitlab-Ribbon-HTML **** -->
      <section class="container">
        <a href="https://www.udc.es/" class="phx-logo">
          <img src="<%= Routes.static_path(@conn, "/images/udc_logo_cor.png") %>" alt="Universidade da Coruña"/>
        </a>
        <a href="https://www.fic.udc.es/" class="phx-logo">
          <img src="<%= Routes.static_path(@conn, "/images/FIC_logo.png") %>" alt="Facultade de Informática de A Coruña"/>
        </a>
      </section>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= @inner_content %>
    </main>
  </body>
  <footer>
    <div style="text-align:center">
      <a href="/"><img src="<%= Routes.static_path(@conn, "/images/home.png") %>" width="25" align="middle" alt="<%= gettext("MatchED home") %>"/></a>
      <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
        <img alt="<%= gettext("Creative Commons Licence") %>" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" align="middle"/></a>
    </div>
  </footer> 
</html>
