<h1><%= gettext("Listing judges") %></h1>

<table>
  <%= for judge <- @judges do %>
  <tr>
    <td style="text-align: right"><%= render "judge.html", judge: judge %></td>
    <td style="text-align: left"><%= button gettext("View"), to: Routes.judge_path(@conn, :show, judge.id), method: :get%></td>
  </tr>
  <% end %>
</table>